<div class="cards__list" data-drag-drop-item-container>
  <div class="blank-slate blank-slate--drag card card--hide-unless-empty">
    <p><%= t('column.drag_cards_here') %></p>
  </div>
  <div class="blank-slate blank-slate--empty card--hide-unless-empty"><%= t('column.no_cards') %></div>
</div>
